.breadcrumb {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.breadcrumb-item {
  padding: 0.3rem 0.4rem 0.3rem 0.8rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: 0.8rem;
  color: #282C34;
  content: var(--bs-breadcrumb-divider, ">");
  font-weight: medium;
}

.breadcrumb-item > a {
  color: #3366CC;
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #282C34;
  font-weight: medium;
}

.breadcrumb-item.invested {
  background-color: #004884;
}

.breadcrumb-item.invested, .breadcrumb-item.invested > a, .breadcrumb-item.invested+.breadcrumb-item.invested::before {
  color: #FFFFFF;
}